<form action="/login" method="POST">
    <input type="text" name="username"    placeholder="username" required>
    <input type="email"  name="email" placeholder="email" required>
    <button>log In</button>
</form>